mixin panel(options)
    - options = options || {};
    - options['id'] = options.id || '';
    - options['classes'] = options.classes || '';

    .panel.panel-default(class=options.classes, id='#{options.id}')
        block

mixin panel-left-side(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-left-side(class=options.classes)
        block

mixin panel-right-side(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-right-side(class=options.classes)
        block

mixin panel-header(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    - if (options.subheader) options.classes = options.classes + ' subheader ';

    .panel-heading(class=options.classes)
        block

mixin panel-body(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-body(class=options.classes)
        block

mixin panel-footer(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-footer(class=options.classes)
        block
