mixin input(options)
    //- Set default values
    - options                = options             || {};
    - options['id']          = options.id          || '';
    - options['classes']     = options.classes     || '';
    - options['placeholder'] = options.placeholder || '';
    - options['value']       = options.value       || '';
    - options['size']        = options.size        || 'md';
    - options['type']        = options.type        || '';
    - options['name']        = options.name        || '';
    - options['target']      = options.target      || '';
    - options['title']       = options.title       || '';

    input.form-control(type=options.type, class='#{options.classes} input-#{options.size}', id='#{options.id}', placeholder=options.placeholder, value=options.value, name=options.name, data-target=options.target, title=options.title)
    block

mixin input-group(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    - options['size']        = options.size     || '';
    .input-group(class='#{options.classes} input-group-#{options.size}')
        block


mixin input-group-addon(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    span.input-group-addon
        block
