mixin input(options)
    //- Set default values
    - options                = options             || {};
    - options['id']          = options.id          || '';
    - options['classes']     = options.classes     || '';
    - options['placeholder'] = options.placeholder || '';
    - options['value']       = options.value       || '';
    - options['size']        = options.size        || 'md';
    - options['type']        = options.type || '';
    - options['name']        = options.name || '';
    - options['target']      = options.target || '';
    - options['maxlength']   = options.maxlength || '';

    input.form-control(type=options.type, class='#{options.classes} input-#{options.size}', id='#{options.id}', placeholder=options.placeholder, value=options.value, name=options.name, data-target=options.target, maxlength=options.maxlength)
    block

mixin input-group(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    .input-group(class='#{options.classes}')
        block


mixin input-group-addon(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    span.input-group-addon
        block

mixin input-error-group(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    div.input-error-group
        block

mixin input-error(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    div.input-error
        block
