mixin input-box(options)
    - options                = options             || {};
    - options['id']          = options.id && options.id.length ? options.id : null;
    - options['classes']     = options.classes     || '';
    .input-box(id=options.id, class='#{options.classes}')
        block

mixin input(options)
    - options                = options             || {};
    - options['id']          = options.id && options.id.length ? options.id : null;
    - options['classes']     = options.classes     || '';
    - options['placeholder'] = options.placeholder || '';
    - options['value']       = options.value       || '';
    - options['size']        = options.size        || 'md';
    - options['type']        = options.type || '';
    - options['name']        = options.name || '';
    - options['target']      = options.target || '';
    - options['maxlength']   = options.maxlength || '';
    input.form-control(type='#{options.type}', class='#{options.classes} input-#{options.size}', id=options.id, placeholder='#{options.placeholder}', value='#{options.value}', name='#{options.name}', data-target='#{options.target}', maxlength='#{options.maxlength}')

mixin simple-input(options)
    - options                = options             || {};
    - options['id']          = options.id && options.id.length ? options.id : null;
    - options['classes']     = options.classes     || '';
    - options['placeholder'] = options.placeholder || '';
    - options['value']       = options.value       || '';
    - options['size']        = options.size        || 'md';
    - options['type']        = options.type || '';
    - options['name']        = options.name || '';
    - options['target']      = options.target || '';
    - options['maxlength']   = options.maxlength || '';
    input(type='#{options.type}', class='#{options.classes} input-#{options.size}', id=options.id, placeholder='#{options.placeholder}', value='#{options.value}', name='#{options.name}', data-target='#{options.target}', maxlength='#{options.maxlength}')


mixin input-group(options)
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    - options['size']        = options.size        || 'md';
    .input-group(class='#{options.classes} input-group-#{options.size}')
        block

mixin input-group-addon(options)
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    span.input-group-addon(class='#{options.classes}')
        block

mixin input-group-btn(options)
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    span.input-group-btn(class='#{options.classes}')
        block

mixin emil-input-box(options)
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    .emil-input-box(class='#{options.classes}')
        block
