mixin switch(options)
    - options = options || {}
    - options['leftActive'] = (options.leftActive && !!options.leftActive) || false;
    - options['leftLabel']  = options.leftLabel  || false;
    - options['rightLabel'] = options.rightLabel || false;
    - options['disabled']   = options.disabled || false;
    - options['classes']    = options.classes    || ''
    - options['name']       = options.name    || ''

    .emil-switch-unit(class="#{options.disabled ? 'disabled' : ''} #{options.classes} #{options.leftActive ? 'active' : ''}", id='#{options.name}')
        .handle
        .clipping-div
            .emil-switch-label.on(class="#{options.leftActive ? 'active' : ''}", id="#{options.name}_left", data-value="1")
                span
                    if options.leftLabel
                        | #{options.leftLabel}
                    else
                        | on
                    if options.leftActive
                        input(name='#{options.name}_left', type='radio', value='1', checked='true')
                    if !options.leftActive
                        input(name='#{options.name}_left', type='radio', value='1')

        .emil-switch-label.off(class="#{options.leftActive ? '' : 'active'}", id="#{options.name}_right", data-value="0")
            span
                if options.rightLabel
                    | #{options.rightLabel}
                else
                    | off
                if !options.leftActive
                    input(name='#{options.name}_right', type='radio', value='0', checked='true')
                if leftActive
                    input(name='#{options.name}_right', type='radio', value='0')
        .shutter
        .emil-switch-label.hidden
            span
                if options.leftLabel
                    | #{options.leftLabel}
                else
                    | on
        .emil-switch-label.hidden
            span
                if options.rightLabel
                    | #{options.rightLabel}
                else
                    | off