mixin switch_unit_div(options)
  - options.name       = options['name']                                    || '';
  - options.leftActive = (options['leftActive'] && !!options['leftActive']) || false;
  - options.leftLabel  = options['leftLabel']                               || false;
  - options.rightLabel = options['rightLabel']                              || false;
  - options.classes    = options['classes']                                 || ''
  - options.disabled   = options['disabled']                                || false

  .switchUnit(class="#{options.disabled ? 'disabled' : ''} #{options.classes} #{options.leftActive ? 'active' : ''}", id='#{options.name}')
    .handle
    .clippingDiv
      .switchLabel.on(class="#{options.leftActive ? 'active' : ''}", id="#{options.name}_left", data-value="1")
        span
          if options.leftLabel
            |translate:#{options.leftLabel}
          else
            |translate:general.button.on
          if options.leftActive
            input(name='#{options.name}_left', type='radio', value='1', checked='true')
          if !options.leftActive
            input(name='#{options.name}_left', type='radio', value='1')

    .switchLabel.off(class="#{options.leftActive ? '' : 'active'}", id="#{options.name}_right", data-value="0")
      span
        if options.rightLabel
          |translate:#{options.rightLabel}
        else
          |translate:general.button.off
        if !options.leftActive
          input(name='#{options.name}_right', type='radio', value='0', checked='true')
        if options.leftActive
          input(name='#{options.name}_right', type='radio', value='0')
    .shutter
    .switchLabel.hidden
      span
        if options.leftLabel
          |translate:#{leftLabel}
        else
          |translate:general.button.on
    .switchLabel.hidden
      span
        if options.rightLabel
          |translate:#{options.rightLabel}
        else
          |translate:general.button.off