mixin emil-master(options)
    - options            = options         || {};
    - options['id']      = options.id && options.id.length ? options.id : null;
    - options['classes'] = options.classes || '';
    - options['columns'] = options.columns || '';
    .emil-master(id=options.id, class='#{options.columns} #{options.classes}')
        block

mixin emil-detail(options)
    - options            = options         || {};
    - options['columns'] = options.columns || '';
    - options['classes'] = options.classes || '';
    - options['sidebarAnimation'] = options.sidebarAnimation || 'slideIn';
    .emil-detail.container-fluid(class='#{options.columns} #{options.classes} #{options.sidebarAnimation}')
        block

mixin emil-master-detail(options)
    - options            = options         || {};
    - options['classes'] = options.classes || '';
    - options['id'] = options.id || '';
    - options['isOpened'] = options.isOpened || true;
    - if (options.isOpened) options.classes = options.classes + ' isOpened ';
    .emil-master-detail(class='#{options.classes}', id=options.id)
        block

mixin emil-sidebar-btn
     .emil-sidebar-btn
        block

mixin emil-sidebar(options)
    - options            = options         || {};
    - options['id']      = options.id && options.id.length ? options.id : null;
    - options['classes'] = options.classes || '';
    - options['columns'] = options.columns || '';
    .emil-sidebar(id=options.id, class='#{options.columns} #{options.classes}')
        block
