include icon
include button
include alarmsSubrack

mixin tablecell(options)
	//- Set default values
	- options             = options          || {};
	- options['title']    = options.title    || '';
	- options['cause']    = options.cause    || '';
	- options['severity'] = options.severity || '';
	- options['long']     = options.long     || {};
	- options['lat']      = options.lat      || {};
	- options['dataID']   = options.dataID   || 0;
	- options['classes'] = options.classes || '';

	.tableCell.typo.serviceTableContent.lineHeight120(data-id=options.dataID, class=options.classes)
		.severityMarker(class=options.severity)
		h3.typo.serviceTableHeader #{options.title}
		p.timestamp #{options.timestamp}
		p.cause #{options.cause}
		p.long Long: #{options.long}
		p.lat Lat: #{options.lat}

mixin navigation-tablecell(options)
	//- Set default values
	- options['title']   = options.title   || '';
	- options['icon']    = options.icon    || '';
	- options['type']    = options.type    || '';
	- options['classes'] = options.classes || '';
	- options['counter']   = options.counter || false;
	- options['quick']   = options.quick || false;
	- options['alarmresult'] = options.alarmresult || [];
	- options['selected'] = options.selection || '';

	.navigationTableCell(class="#{options.classes != '' ? options.classes : options.icon} #{options.selected == options.type ? 'selected' : ''}", data-type="#{options.type}")
		.sidebarMarker(data-type="#{options.type}")
			+icon({type: options.icon})
			span.title #{options.title}

			if options.counter
				.ion-badge-container
					span.ion-badge.critical 4
					span.ion-badge.information 2
					span.ion-badge.minor 3
					span.ion-badge.warning 1

		if options.quick
			.ion-badge-container
				+button({icon:'minus'})
					+icon({type: 'sidebarAddonClose'})

		if options.quick
			.quickFinder
				dl.quickAccess
					dt Quick Access
					dd Overview
					dd Services
					dd Devices

				dl.quickFavorites
					dt
						+icon({type: 'favStar'})
						| Favorites
					dd
						div.box
							span Rack 1
							+icon({type: 'favRemove'})
					dd
						div.box
							span DSMR-Rack 1
							+icon({type: 'favRemove'})
					dd
						div.box
							span ZCMB-Rack 1
							+icon({type: 'favRemove'})

mixin device-tablecell(options)
	//- Set default values
	- options = options || {};
	- options['device'] = options.device || '';
	- options['long'] = options.long || '';
	- options['lat'] = options.lat || '';
	- options['software'] = options.software || '';
	- options['classes'] = options.classes || '';
	- options['type'] = options.type || 0;
	- options['selected'] = options.selected || 0;
	- options['city'] = options.city || '';
	- options['zip'] = options.zip || '';
	- options['street'] = options.street || '';
	- options['number'] = options.number || '';
	- options['severity'] = options.severity || '';

	.tableCell(class="#{options.classes} #{options.selected == options.type ? 'selected' : ''}", data-type="#{options.type}")
		div.iconBox
			+icon({type: 'server'})
			p.typo.serviceTableService.lineHeight120 LTE

		div.adressBox
			h3.typo.serviceTableHeader.lineHeight120 Rack 1
			p.typo.serviceTableContent.lineHeight120 #{options.zip} #{options.city}
			p.typo.serviceTableContent.lineHeight120 #{options.street} #{options.number}
			ul
				li
					+icon({type: 'star'})
				li
					+icon({type: 'locator'})
				li
					+icon({type: 'diagrams'})
				li
					+icon({type: 'gear'})
		div.alarmDiagram
			span.count.typo.serviceTableHeader.lineHeight120 123
			span.typo.serviceTableContent.lineHeight120 Alarms


mixin service-tablecell(options)
	//- Set default values
	- options = options || {};
	- options['service'] = options.service || '';
	- options['street'] = options.street || '';
	- options['town'] = options.town || '';
	- options['software'] = options.software || '';

	.tableCell(class="#{options.classes} #{options.selected == options.type ? 'selected' : ''}", data-type="#{options.type}")
		//- .severityMarker(class="#{options.severity}")
		div.iconBox
			img(src='img/service/at_and_t.svg')
			p.typo.serviceTableService.lineHeight120 LTE
		div.adressBox
			h3.typo.serviceTableHeader.lineHeight120 #{options.service}
			p.typo.serviceTableContent.lineHeight120 #{options.zip} #{options.city}
			p.typo.serviceTableContent.lineHeight120 #{options.street} #{options.number}
			ul
				li
					+icon({type: 'star'})
				li
					+icon({type: 'locator'})
				li
					+icon({type: 'diagrams'})
				li
					+icon({type: 'gear'})
		div.alarmDiagram
			span.count.typo.serviceTableHeader.lineHeight120 123
			span.typo.serviceTableContent.lineHeight120 Alarms

mixin subrack-tablecell
	.tableCell.subrack.shown
		.subrackCellTitle
			h2.typo.subrackCell Subrack 1
			+button({classes: 'simpleBtn shown', id:'closeBtn'})
				+icon({type: 'subrackCloseOpen shown'})
		.subrackContentBox
			.subrackContent.selected
				div.iconBox
					img(src='img/service/at_and_t.svg')
					p.typo.serviceTableService.lineHeight120 LTE
				div.adressBox
					h3.typo.serviceTableHeader.lineHeight120 iPoi
					p.typo.serviceTableContent.lineHeight120 Subrack 1 - Slot 1
					ul
						li
							+icon({type: 'star'})
						li
							+icon({type: 'locator'})
						li
							+icon({type: 'diagrams'})
						li
							+icon({type: 'gear'})
				div.alarmDiagram
					span.count.typo.serviceTableHeader.lineHeight120 223
					span.typo.serviceTableContent.lineHeight120 Alarms
			.subrackContent
				div.iconBox
					img(src='img/service/at_and_t.svg')
					p.typo.serviceTableService.lineHeight120 LTE
				div.adressBox
					h3.typo.serviceTableHeader.lineHeight120 OTRX
					p.typo.serviceTableContent.lineHeight120 Subrack 1 - Slot 6
					ul
						li
							+icon({type: 'star'})
						li
							+icon({type: 'locator'})
						li
							+icon({type: 'diagrams'})
						li
							+icon({type: 'gear'})
				div.alarmDiagram
					span.count.typo.serviceTableHeader.lineHeight120 23
					span.typo.serviceTableContent.lineHeight120 Alarms
			.subrackContent
				div.iconBox
					img(src='img/service/at_and_t.svg')
					p.typo.serviceTableService.lineHeight120 LTE
				div.adressBox
					h3.typo.serviceTableHeader.lineHeight120 SMTX - Sector Matrix
					p.typo.serviceTableContent.lineHeight120 Subrack 1 - Slot 8
					ul
						li
							+icon({type: 'star'})
						li
							+icon({type: 'locator'})
						li
							+icon({type: 'diagrams'})
						li
							+icon({type: 'gear'})
				div.alarmDiagram
					span.count.typo.serviceTableHeader.lineHeight120 3
					span.typo.serviceTableContent.lineHeight120 Alarms
	.tableCell.subrack
		.subrackCellTitle
			h2.typo.subrackCell Subrack 2
			+button({classes: 'simpleBtn shown', id:'closeBtn'})
				+icon({type: 'subrackCloseOpen'})
	.tableCell.subrack
		.subrackCellTitle
			h2.typo.subrackCell Subrack 3
			+button({classes: 'simpleBtn shown', id:'closeBtn'})
				+icon({type: 'subrackCloseOpen'})
	.tableCell.subrack
		.subrackCellTitle
			h2.typo.subrackCell Subrack 4
			+button({classes: 'simpleBtn shown', id:'closeBtn'})
				+icon({type: 'subrackCloseOpen'})

mixin commissioningFile-tablecell(options)
	//- Set default values
	- options = options || {};
	- options['title'] = options.title || '';
	- options['racks'] = options.racks || '';
	- options['devices'] = options.devices || '';
	- options['info'] = options.info || '';

	//- .tableCell(class="#{options.classes} #{options.selected == options.type ? 'selected' : ''}", data-type="#{options.type}")
	.tableCell.systemProfile
		div.iconBox
			+icon({type: 'file'})
		div.infoBox
			h2 #{options.title}
			h3 #{options.racks} Racks, #{options.devices} Devices
			p #{options.info}
			+icon({type: 'systemFileStar'})
		div.buttonBox
			+button({classes: 'systemProfileActive', id:''})
				span Active
				+icon({type: 'commissioningSkip'})
			+button({classes: 'systemProfileActivate', id:''})
				span Activate