mixin media(options)
    - options            = options         || {};
    - options['classes'] = options.classes || '';
    .emil-media(class='#{options.classes}')
        block

mixin media-container(options)
    - options             =                  options          || {};
    - options['pull']     =                  options.pull     || 'left';
    - options['size']     =                  options.size     || 'md';
    - options['url']      =                  options.url      || '';
    - options['circular'] =                  options.circular || false;
    - if (options.circular) options.classes =  options.classes + ' circular ';
    div(class='media-#{options.pull} #{options.size} #{options.classes}', style='background-image: url(#{options.url})')
        block

mixin media-body
    .media-body
        block

mixin media-heading
    .media-heading
        block

