mixin media(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    - options['pull'] = options.pull || 'pull-left';
    .media(class='#{options.classes}')
        block

mixin media-pull(options)
    - options = options || {};
    - options['pull'] = options.pull || 'left';
    - options['classes'] = options.classes || '';
    div(class='media-#{options.pull} #{options.classes}')
        block

mixin media-body
    .media-body
        block

mixin media-heading
    .media-heading
        block

mixin media-object(options)
    - options = options || {};
    - options['src'] = options.src || '';
    - options['size'] = options.size || 'md';
    img(src='#{options.src}', class='media-object #{options.size}')

mixin media-list(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    ul(class='media-list #{options.classes}')
        block

mixin media-list-item(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    li(class='media #{options.classes}')
        block
