mixin media(options)
    - options            = options         || {};
    - options['classes'] = options.classes || '';
    .emil-media(class='#{options.classes}')
        block

mixin media-container(options)
    - options             =                  options          || {};
    - options['pull']     =                  options.pull     || 'left';
    - options['size']     =                  options.size     || 'md';
    - options['url']      =                  options.url      || '';
    - options['circular'] =                  options.circular || false;
    - options['classes'] = options.classes || '';options['classes'] = options.classes || '';
    - if (options.circular) options.classes =  options.classes + ' circular ';
    div(class='media-#{options.pull} #{options.size} #{options.classes}', style='background-image: url(#{options.url})')
        block

mixin media-body
    .media-body
        block

mixin media-heading
    .media-heading
        block

mixin media-side(options)
    - options             =                  options            || {};
    - options['pull']     =                  options.pull       || 'left';
    - options['size']     =                  options.size       || 'md';
    - options['classes']  =                  options.classes    || '';
    div(class='media-#{options.pull} #{options.size} #{options.classes}')
        block

mixin media-object(options)
    - options = options || {};
    - options['src'] = options.src || '';
    img(src='#{options.src}', class='media-object')

mixin media-list(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    ul(class='media-list #{options.classes}')
        block

mixin media-list-item(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    li(class='media #{options.classes}')
        block
